__pycache__/BubbleTips.cpython-38.pyc
__pycache__/calculate_AFM.cpython-38.pyc
__pycache__/calculate_FD.cpython-38.pyc
__pycache__/Config_Dailog.cpython-38.pyc
__pycache__/DataBean.cpython-38.pyc
__pycache__/DataObtain.cpython-38.pyc
__pycache__/Detail_Dailog.cpython-38.pyc
__pycache__/ExcelWriter.cpython-38.pyc
__pycache__/FileWriter.cpython-38.pyc
__pycache__/Loading_Dailog.cpython-38.pyc
__pycache__/Result_Dailog.cpython-38.pyc
__pycache__/SoftConfig.cpython-38.pyc
__pycache__/Ui_Config.cpython-38.pyc
__pycache__/Ui_Detail.cpython-38.pyc
__pycache__/Ui_Loading.cpython-38.pyc
__pycache__/UI_Main.cpython-38.pyc
__pycache__/Ui_Result.cpython-38.pyc
